#cloud-config

users:
- name: ubuntu
  groups: [ users, admin ]
  shell: /bin/bash
  sudo: ALL=(ALL) NOPASSWD:ALL
  ssh_authorized_keys:
    # SSH-Key Mert
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCxzqd8EpxDmz0NPxozSSw5ndHiMfHE+3LpVgmK197oWHArexunNFzxox6EB0RVDwH6Fx9bppfTCkdl49NSHF+IojyC2MN+H+llsiKZWI82f8jGjUsx2nzprP+MAgdgcMmDEBtTowa6fxNIm1jHofLAuKrxA1+wjM90laZfHxoVzf51PdUfN9jyiqYho4MomJGwWZtd4NX55aVkpBuCM0TEA9HhXNfTHC/cHsXNSpVZ3nQQ3xcaW2sjhkF0re9PPQUFE2bBZItruFfqpZt6VUoid+8V98Ri9wP1zzW3wXxyRsH1imTGm73Kul9DN6speI3rXArXXVZno+t/gD6mepoR mert-key

    # SSH-Key Lerhperson
    - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCpYQGN6ZsQ+5UJzDz05HogRp0sTBfaore2SjtIpyIc0hyHRQMjw6zeG7+BHglRej/2nXKkRVvXfAzzYQoNxvh38ZcXaqp600UQ1T8zmlU700jvSBew9/UxyvGC9w0iClq/73tMX7k38dUEJTrNVhatHlZYdjbDxKp6mwIFiFpDQnyz3FKfc26gl+wF5DFCcIiRQyIS7iG5G+3drBWwt7FNYxAgcUHZCCx9cyOJw8VqOB0JxvztBXbOS2PJINAaa4jpGIP4n+iLhGY0q87fizLFEz9A8MX3hQVqLXOH1XDtQybv+J4qOOYSAr58ASEkpYxZyJyRxnPfXJyCPs0keIvlkn02 keypair1 

package_update: true

packages:
- curl
- wget
- apache2
- php
- libapache2-mod-php
- php-mysql
- adminer

write_files:
- path: /var/www/html/index.html
  permissions: '0644'
  content: |
    <h1>Webserver lauft</h1>
    <p>Dieser Server wurde mit Cloud-Init installiert.</p>

- path: /var/www/html/info.php
  permissions: '0644'
  content: |
    <?php phpinfo(); ?>

- path: /var/www/html/db.php
  permissions: '0644'
  content: |
    <?php
    $servername = "172.31.32.20";
    $username = "admin";
    $password = "m346_1234";
    $database = "mysql";

    $conn = new mysqli($servername, $username, $password, $database);
    if ($conn->connect_error) {
        die("Connection failed: " . $conn->connect_error);
    }
    echo "Connected successfully to DB server " . $servername;
    ?>

runcmd:
- a2enconf adminer
- systemctl restart apache2